{{#content 'pageStyles'}}
<style>
  li {
    color: #800;
  }
</style>
{{/content}}

{{> sub/comment}}
<h1>{{title}}</h1>
<p>
	{{content}}
</p>
<ul>
    {{#each veggies}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>
